.header-image {
	background: url("../imgs/unsplash-M1qSY_IuF4c.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.header-image h1,
.header-image h2 {
	text-shadow: #000000 8px 8px 16px, #000000 -8px -8px 16px, #000000 8px -8px 16px, #000000 -8px 8px 16px;
	padding: 20px;
	font-weight: bold;
	color: white;
	background: transparent;
}
