.bg-success {
  background-color: #1fa4b6 !important;
}
.bg-primary {
  background-color: #2C3E50 !important;
}
.bg-white {
  background-color: #FFFFFF !important;
}
.f-success {
  color: #1fa4b6 !important;
}
.f-accent {
  color: #E05B49 !important;
}
#mainNav .navbar-brand .navbar-brand-logo {
  height: 2rem;
  width: auto;
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
}
#mainNav.affix-top .navbar-brand .navbar-brand-logo {
  height: 2.5rem;
  width: auto;
}
pre.code {
  background-color: #1a242f;
  border: none;
  color: white;
}
pre.address {
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  background: #1fa4b6;
}
header .container {
  padding-top: 100px;
}
header .img-responsive {
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  max-width: 320px;
}
header .star-light::after {
  background-color: #1fa4b6;
}
#timeline {
  /** Timeline specific styling - see : http://codepen.io/kjohnson/pen/azBvaE?editors=1100 */
  @import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
}
#timeline *,
#timeline *:before,
#timeline *:after {
  box-sizing: inherit;
}
#timeline .steps-section {
  padding-left: 20px;
  padding-right: 20px;
}
#timeline .section-header,
#timeline .steps-header,
#timeline .steps-name {
  color: #3498DB;
  font-weight: 400;
  font-size: 1.4em;
}
#timeline h3.steps-name {
  margin-top: 20px;
  margin-bottom: 10px;
}
#timeline .steps-description {
  font-size: 1.2em;
}
#timeline .steps-header {
  margin-bottom: 20px;
  text-align: center;
}
#timeline .steps-timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}
@media screen and (max-width: 500px) {
  #timeline .steps-timeline {
    border-left: 2px solid #3498DB;
    margin-left: 25px;
  }
}
@media screen and (min-width: 500px) {
  #timeline .steps-timeline {
    border-top: 2px solid #3498DB;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
}
#timeline .steps-timeline:after {
  content: "";
  display: table;
  clear: both;
}
#timeline .steps-one,
#timeline .steps-two,
#timeline .steps-three {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
@media screen and (max-width: 500px) {
  #timeline .steps-one,
  #timeline .steps-two,
  #timeline .steps-three {
    margin-left: -25px;
  }
}
@media screen and (min-width: 500px) {
  #timeline .steps-one,
  #timeline .steps-two,
  #timeline .steps-three {
    float: left;
    width: 33%;
    margin-top: -50px;
  }
}
@media screen and (max-width: 500px) {
  #timeline .steps-one,
  #timeline .steps-two {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 500px) {
  #timeline .steps-one {
    margin-left: -16.65%;
    margin-right: 16.65%;
  }
}
@media screen and (max-width: 500px) {
  #timeline .steps-three {
    margin-bottom: -100%;
  }
}
@media screen and (min-width: 500px) {
  #timeline .steps-three {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}
#timeline .steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 500px) {
  #timeline .steps-img {
    float: left;
    margin-right: 20px;
  }
}
#timeline .steps-name,
#timeline .steps-description {
  margin: 0;
}
@media screen and (min-width: 500px) {
  #timeline .steps-name {
    text-align: center;
  }
}
#timeline .steps-description {
  overflow: hidden;
}
@media screen and (min-width: 500px) {
  #timeline .steps-description {
    text-align: center;
  }
}
/* About section styling */
section.about {
  background: #1fa4b6;
  color: white;
}
section.about hr.star-light:after {
  background-color: #1fa4b6;
}
/* Solution styling */
section.solution {
  color: white;
}
section.solution hr.star-light:after {
  background-color: #2C3E50;
}
section.solution .solution_table {
  display: table;
}
section.solution .solution_table .row {
  display: table-row;
}
section.solution .solution_table .row .step-img,
section.solution .solution_table .row .middle {
  display: table-cell;
}
section.solution .solution_table .row img {
  width: 100%;
  height: 100%;
}
section.solution .solution_table .row .middle {
  padding-top: 80px;
  vertical-align: middle;
  text-align: center;
}
/* Contact form adjustments */
#contactForm input,
#contactForm textarea {
  border-bottom: 1px solid #E0E0E0;
}
